<h1>About</h1>

<p>A javascript Emoji Tetris game was an idea I had about five years ago. <a target="_blank" href="https://github.com/William-Olson">William Olson</a> helped me work through technical implementation issues and helped me with my javascript skills. We got it to a working, but somewhat unpolished state. Then I got busy with grad school and it sat untouched until now. I always wanted to create a leaderboard for it, where people could log in and their scores would be saved and posted to a leaderboard. Finally got around to it now with this iteration while learning Rails.</p>
