<h1>Edit Score</h1>

<%= render "form", score: @score %>

<br>

<div>
  <%= link_to "Show score", @score, class: 'btn btn-secondary me-2' %> 
  <%= link_to "Back to scores", scores_path, class: 'btn btn-secondary
  ' %>
</div>
