<% provide(:page, 'Users') %>
<h1>Edit User</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Show this user", @user, class: 'btn btn-secondary me-2' %> 
  <%= link_to "Back to users", users_path, class: 'btn btn-secondary' %>
</div>
